@font-face {
    font-family: Digital-Text;
    src: url(DS-DIGIT.TTF);
}
html {
    background: #018ded url(Space.jpg);
    background-size: cover;
    font-family: 'helvetica neue';
    text-align: center;
    font-size: 10px;
}

body {
    margin: 0;
    font-size: 2rem;
    display: flex;
    min-height: 100vh;
    align-items: center;
}

.clock {
    width: 30rem;
    height: 30rem;
    border: 20px solid rgba(0, 238, 255, 0.648);
    border-radius: 50%;
    margin: 50px auto;
    padding: 2rem;
    box-shadow: 0 0 0 2px rgb(0, 0, 0, 0.1),
    inset 0 0 0 3px #efefef,
    inset 0 0 10px black
    0 0 10px rgba(0, 0, 0, 2);
    background-color: rgba(255, 255, 255, 0.123); 
    position: relative;
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
}

.hand {
    width: 50%;
    height: 6px;
    background: rgb(85, 28, 241);
    position: absolute;
    top: 50%;
    transform-origin: 100% 50%;
    transform: rotate(90deg);
    transition:all .05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
    box-shadow: 3px 3px 3px 3px rgba(53, 53, 53, .5);
}

.button {
    width: 10%;
    height: 10%;
    position: absolute;
    top: 46%;
    left: 46%;
    border-radius: 50%;
    background-color: white;
    box-shadow: 3px 3px 3px 3px rgba(53, 53, 53, .5);
}

.hour-hand {
    width: 30%;
    right: 50%;
    background-color: rgb(250, 1, 254);
}

.second-hand {
    background: rgb(162, 0, 255);
}

.digital-clock {
    font-family: Digital-Text; 
    font-size: 12rem;
    color: white;
    margin-top: 20px;
    width: 700px;
    text-align: left;
}

.time {
    padding-right: 20px;
    text-shadow: 2px 2px 4px black;
}